@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.primary {
  color: hsl(229, 23%, 23%);
  font-weight: 700;
  font-size: 18px;
}

.secondary {
  color: hsl(227, 10%, 46%);
  font-weight: normal;
}

.disabled {
  color: hsl(0, 0%, 59%);
}

body {
  background-color: hsl(185, 75%, 39%);
}

main {
  /* static responsive background */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/bg-pattern-bottom.svg), url(./images/bg-pattern-top.svg);
  background-position: left 50vw top 50vh, right 50vw bottom 50vh;
  background-repeat: no-repeat;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 320px;
  width: 100%;
  background-color: white;
  border-radius: 1em;
  -webkit-box-shadow: 2px 2px 30px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 30px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 30px -10px rgba(0, 0, 0, 0.75);
}

.banner {
  width: 100%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.profile-info {
  padding-bottom: 1.5em;
  padding-top: 4em;
}

.profile-picture img {
  width: 100%;
  border-radius: 50%;
  border: 5px solid white;
}

.profile-picture {
  position: absolute;
  /* horizontal centering */
  left: 50%;
  top: 44%;
  transform: translate(-50%, -50%);
}

.name {
  padding: 0.5em 0;
}

.engagement {
  padding: 2em 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.11);
}

.engagement p {
  font-size: 10px;
  letter-spacing: 2px;
}

.engagement div {
  padding: 0 10px;
}

.count {
  margin-bottom: 5px;
}

@media (max-width: 375px) {
  .card-container {
    width: 320px;
  }
}
